@page
@model IndexModel
@{
    ViewData["Title"] = "Hegel";
}
<h1>Phaedrus</h1>
<div class="hegel_explanation">
    <h2>Hegelian Dialectic</h2>
    <p>
        Dive into the world of Hegelian thought! Understand the progression of ideas through the Hegelian dialectic, characterized by thesis, antithesis, and synthesis. Choose the antithesis for each presented thesis and witness the synthesis of ideas.
    </p>
</div>

<div class="hegel_container">
    <!-- Element to display the question title -->
    <div id="interactionTitle" class="interaction_title"></div>
    <div id="interactionDescription" class="interactionDescription"></div>

    <!-- 2x2 Button Grid -->
    <div class="button_grid">
        <div class="button_row">
            <button id="btn1" class="answer_button">Button 1</button>
            <button id="btn2" class="answer_button">Button 2</button>
        </div>
        <div class="button_row">
            <button id="btn3" class="answer_button">Button 3</button>
            <button id="btn4" class="answer_button">Button 4</button>
        </div>
    </div>
</div>
<script src="~/js/interaction.js" asp-append-version="true"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadGuideInteraction("Hegel", "freedom_and_necessity", "EN");
    });
</script>