@page
@model IndexModel
@{
    ViewData["Title"] = "MeScience";
}
<hr>
<h1>Wisdom about Me</h1>
<h2>Play with wise people</h2>
<h3>Choose your own guide</h3>
<div class="container" id="guideContainer"></div>

<script src="~/js/guide.js" asp-append-version="true"></script>
</main>