@page
@model IndexModel
@{
    ViewData["Title"] = "Multiverse";
}
<h1>Modeling</h1>
<p>
    The Multiverse Game is an interactive experience focused on making skills that we are learning or have learned more comprehensible by linking them to a role. What sets this game apart is its foundation on the idea of the multiverse. In this framework, each character, serving as an avatar or representation of a human, lives in their own unique universe. This aligns with the physical theory of the multiverse, which posits the possible coexistence of multiple universes. Each of these universes offers a unique set of conditions and opportunities, adding to the complexity, depth, as well as the organization of the skills we are learning or have learned.

    In the game, players can choose a character by selecting a universe. This character possesses certain skills. These skills are not random attributes; they are inherently connected to the character and their universe. Once chosen, players can further specify the galaxy, world, or even country where their character will operate. This enables them to further specify and develop the skills around which the game revolves. The player models the character to obtain certain skills. Modelling is an effective way of learning.
</p>

<h2>Choose the character you want to imitate!</h2>
<canvas id="multiverseCanvas" width="600" height="600"></canvas>
<script src="~/js/multiverse.js" asp-append-version="true"></script>
