@page
@model IndexModel
@{
    ViewData["Title"] = "Multiverse";
}
<h1>Model</h1>
<h2>Choose the character you want to imitate!</h2>
<canvas id="multiverseCanvas" width="600" height="600"></canvas>
<script src="~/js/multiverse.js" asp-append-version="true"></script>
