@page
@model IndexModel
@{
    ViewData["Title"] = "Phaedrus";
}
<h1>Phaedrus</h1>
<div class="phaedrus_explanation">
    <h2>Phaedrus' Fables</h2>
    <p>
        Welcome to a reflective journey inspired by the fables of Phaedrus. These fables, much like the "Fabeltjeskrant" from the Netherlands, are prompts for introspection. Choose the meaning you perceive in each fable, and embark on a journey through a series of thought-provoking tales.
    </p>
</div>

<div class="phaedrus_container">
    <!-- Element to display the question title -->
    <div id="interactionTitle" class="interaction_title"></div>
    <div id="interactionDescription" class="interactionDescription"></div>

    <!-- 2x2 Button Grid -->
    <div class="button_grid">
        <div class="button_row">
            <button id="btn1" class="answer_button">Button 1</button>
            <button id="btn2" class="answer_button">Button 2</button>
        </div>
        <div class="button_row">
            <button id="btn3" class="answer_button">Button 3</button>
            <button id="btn4" class="answer_button">Button 4</button>
        </div>
    </div>
</div>
<script src="~/js/interaction.js" asp-append-version="true"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadGuideInteraction("Phaedrus", "the_frog_and_the_ox", "EN");
    });
</script>